/*

bordering help:
https://www.w3schools.com/cssref/css3_pr_border-radius.asp

transition styling help:
https://www.w3schools.com/cssref/css3_pr_transition-duration.asp

color from:
http://www.color-hex.com/color-palette/35351

*/

body {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin: 150px;
  color: white;
  background-color: #36648b;
}

.big-button {
  padding: 10px;
  padding-left: 75px;
  padding-right: 75px;
  border: 2px solid white;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.big-button:hover {
  transition-duration: 0.3s;
  background: white;
  color: #36648b;
}
